<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="layout.css" />
    <title>Index</title>
    <style>
      /* <!-- CSS is here in-file because I couldn't get the links to work between files --> */
    </style>
  </head>
  <!-- returnObj is avaliable in this html file, it is being returned by the function getSongsByArtist in controllers.js -->
  <body>
    <h1>Song Game!</h1>
    <h3>
      You've requested songs from <%= returnObj.artistName %> - try to pick the
      song that isn't by <%= returnObj.artistName %> ...
    </h3>

    <div class="gridMe">
      <a href="/wrong" style="text-decoration: none;">
        <div class="box a">
          <div class="box b">
            <%= returnObj.songsArray[returnObj.randNum] %>
          </div>
          <div class="box c">
            <img
              src="<%= returnObj.artArray[returnObj.randNum] %>"
              alt="Artwork"
            />
          </div></div
      ></a>

      <a href="/wrong" style="text-decoration: none;">
        <div class="box a">
          <div class="box b">
            <%= returnObj.songsArray[returnObj.randNum+1] %>
          </div>
          <div class="box c">
            <img
              src="<%= returnObj.artArray[returnObj.randNum+1] %>"
              alt="Artwork"
            />
          </div></div
      ></a>

      <a href="/wrong" style="text-decoration: none;">
        <div class="box a">
          <div class="box b">
            <%= returnObj.songsArray[returnObj.randNum+2] %>
          </div>
          <div class="box c">
            <img
              src="<%= returnObj.artArray[returnObj.randNum+2] %>"
              alt="Artwork"
            />
          </div></div
      ></a>

      <a href="/wrong" style="text-decoration: none;">
        <div class="box a">
          <div class="box b">
            <%= returnObj.songsArray[returnObj.randNum+3] %>
          </div>
          <div class="box c">
            <img
              src="<%= returnObj.artArray[returnObj.randNum+3] %>"
              alt="Artwork"
            />
          </div></div
      ></a>

      <a href="/wrong" style="text-decoration: none;">
        <div class="box a">
          <div class="box b">
            <%= returnObj.songsArray[returnObj.randNum+4] %>
          </div>

          <div class="box c">
            <img
              src="<%= returnObj.artArray[returnObj.randNum+4] %>"
              alt="Artwork"
            />
          </div></div
      ></a>

      <a href="/correct" style="text-decoration: none;"
        ><div class="box a">
          <div class="box b">
            <%= returnObj.fakeSongs[returnObj.randNum2] %>
          </div>
          <div class="box c">
            <img
              src="<%= returnObj.artArray[returnObj.randNum+4] %>"
              alt="Artwork"
            />
          </div></div
      ></a>
    </div>
  </body>
</html>
